h2{
  font-family: arial;
  font-size: 22;
  text-decoration: underline;  
  font-weight: 100;
  color: red;
}
p{ 
  line-height: 3; 
  font-size: 15;
  text-indent: 10;
}
wrapper { 
  margin: 0 auto;
  width: 1000; 
}
